{% load static %}


<!--<!DOCTYPE html>-->
<html lang="ua">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoMarketplace</title>
	<link rel="icon" href="{% static 'images/logo.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/advertisement_style.css' %}">
	<link rel="stylesheet" href="{% static 'libs/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/bootstrap-grid.min.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
	<header>
<nav class="navbar">
	<div class="container">
		<div class="head-logo">
			<img src="{% static 'images/logo.png' %}" alt="AutoMarketplace" class="logo-img">
			<a href="{% url 'home' %}" class="navbar-brand">AutoMarketplace.ua</a>
		</div>
			<div class="navbar-wrap">
				<ul class="navbar-menu">
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'detail_user' %}">Вітаємо, {{request.user}}</a></li>
					{% else %}
						<li><a href="{% url 'log_in' %}">Увійти</a></li>
						<li><a href="{% url 'reg' %}">Зареєструватись</a></li>
					{% endif %}
				</ul>

		<a href="#" class="submitanad">Подати оголошення</a>
		</div>
	</div>
</nav>
	</header>

	<div style="display: flex; align-items: center; flex-direction: column; margin-top: 150px;">
  <h2 class="add_advert">Додати оголошення</h2>

 <form class="form-container" method="post" action="{% url 'add_advertisement' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title }}
    {{ form.price }}
    {{ form.description }}
    {{ form.photo1 }}
    {{ form.photo2 }}
    {{ form.photo3 }}
	 {{ form.number_phone }}
    <button class="button_add_ad" style="height: 55px"  type="submit">Додати оголошення</button>
</form>
</div>
</body>
</html>