<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoMarketplace{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Ваше меню або заголовок сайту тут -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Ваш підвал тут -->
    </footer>
</body>
</html>
