<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoMarketplace</title>
	<link rel="icon" href="pics/logo.png">
	<link rel="stylesheet" href="css/cabinet_style.css">
	<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
<header>
<nav class="navbar">
	<div class="container">
		<div class="head-logo">
			<img src="images/logo.png" alt="AutoMarketplace" class="logo-img">
			<a href="index.html" class="navbar-brand">AutoMarketplace.ua</a>
		</div>
			<div class="navbar-wrap">		
				<ul class="navbar-menu">
					<li><a href="log_in.html">Увійти</a></li>
					<li><a href="#">Збережене</a></li>
				</ul>

		<a href="#" class="submitanad">Подати оголошення</a>
		</div>
	</div>
</nav>
</header>
<form class="" action="">

</form>
</body>
</html>